#title, .subtitle, .post_title{
	color: #505050;
}
.img2{
	border: 1px solid #505050;
	border-radius: 50%;
}
body {
	background:#f7f7f7;
	font-family: Verdana;
	max-width: 900px;
	margin: auto;
}
#title{
	font-size: 40px;
	text-transform: uppercase;

}
a{
	text-decoration: line-through;
	color: #505050;
}
.post_title{
	font-size: 16px;
	font-style: italic;
	color: red;
	margin-bottom: 15px;
	margin: 0;
}
.subtitle{
	color: green;
}

.post{
	background: #FFF;
	padding: 15px ;
	border: 3px dotted #000;
	margin-bottom: 15px;
	border-radius: 5px;
}
.body_post{
	margin-top: -10px;
	border-radius: 5px;

}
.imagem{
	border-radius: 50px;
	width: 100%
}
.post_content{
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.post_image{
	margin-bottom: 15px;
}
.contatcs_list{
	list-style-type: none;
	padding-left: 15px;
}
.newblock{
	background-color: lightskyblue ;
	border-radius: 20px;
}